In [1]:
from datetime import datetime
from datetime import date
from datetime import time
from datetime import timedelta

In [2]:
d1 = date(2019, 3, 12)
print(d1)
print(d1.year)
print(d1.month)
print(d1.day)

2019-03-12
2019
3
12

In [4]:
t1 = time(23, 10,59)
print(t1)
print(t1.hour)
print(t1.minute)
print(t1.second)

23:10:59
23
10
59

In [5]:
print(date.today())

2020-03-10

In [6]:
print(date.max)
print(date.min)
print(time.max)
print(time.min)

9999-12-31
0001-01-01
23:59:59.999999
00:00:00

In [8]:
dt = datetime(2019, 3, 12, 15, 17)
print(dt)

2019-03-12 15:17:00

In [9]:
print(dt.date().year)
print(dt.time().hour)

2019
15

In [10]:
print(datetime.max)
print(datetime.min)

9999-12-31 23:59:59.999999
0001-01-01 00:00:00

In [12]:
now = datetime.now()
print(now)

2020-03-10 17:04:08.653135

In [13]:
print(now.year)
print(now.month)

2020
3

In [14]:
new_dt = now.replace(year=2018)

In [15]:
print(new_dt)

2018-03-10 17:04:08.653135

In [20]:
dt = datetime.strptime('30/08/2018', "%d/%m/%Y")
print(dt)

dt = datetime.strptime("28/03/2018 10:40", "%d/%m/%Y %H:%M")
print(dt)

dt = datetime.strptime("06-28-2018 09:20", "%m-%d-%Y %H:%M")
print(dt)

dt = datetime.strptime("2018-06-28", "%Y-%m-%d")
print(dt)

2018-08-30 00:00:00
2018-03-28 10:40:00
2018-06-28 09:20:00
2018-06-28 00:00:00

In [21]:
import locale
locale.setlocale(locale.LC_ALL, "")

'Russian_Russia.1251'

In [26]:
now = datetime.now()
print(now.strftime('%Y-%m-%d (%a)'))
print(now.strftime('%Y-%B-%d число (%A)'))

2020-03-10 (Вт)
2020-Март-10 число (вторник)

In [27]:
delta1 = timedelta(days=3, hours=2, minutes=10)
print(delta1)

3 days, 2:10:00

In [28]:
delta2 = timedelta(days=2, hours=1, minutes=5)

In [29]:
print(delta1 - delta2)
print(delta2 - delta1)

1 day, 1:05:00
-2 days, 22:55:00

In [30]:
my_birthday = date(1988, 8, 12)

delta = date.today() - my_birthday
print(type(delta))

my_age = int(delta.days/365)
print(my_age)

<class 'datetime.timedelta'>
31

In [31]:
wife_birthday = date(1990, 9, 6)

am_i_older = my_birthday < wife_birthday
print(am_i_older)

True