In [1]:
num = [1,2,3,4,5]

for i in num:
    print(i)

1
2
3
4
5

In [2]:
for i in num:
    print(i*i)

1
4
9
16
25

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
for i in range(1,6):
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [5]:
num  = [1,3,5,7,9]
for i, item in enumerate(num):
    num[i] *= 2
num

[2, 6, 10, 14, 18]

In [6]:
name = 'John'
for l in name:
    print(l)

J
o
h
n

In [7]:
for _ in range(5):
    print('Alarm!')

Alarm!
Alarm!
Alarm!
Alarm!
Alarm!

In [8]:
per = ('John', 'Silver', 22)
for i in per:
    print(i)

John
Silver
22

In [9]:
pers = [('John', 22), ('Bob', 42)]
len(pers)

2

In [10]:
for (name, age) in pers:
    print(f'{name} is {age} years old')

John is 22 years old
Bob is 42 years old

In [11]:
pls = dict(Carlsen=2842, Caruana=2822)
for i in pls:
    print(i)

Carlsen
Caruana

In [12]:
for i in pls.items():
    print(i)

('Carlsen', 2842)
('Caruana', 2822)

In [13]:
for k, v in pls.items():
    print(k, v)

Carlsen 2842
Caruana 2822

In [14]:
for v in pls.values():
    print(v)

2842
2822

In [17]:
list1 = [2,4,-5,6,8,-2]
list2 = [2,-6,8,3,5,-2]

pairs = []
for x in list2:
    for y in list2:
        cur_sum = x + y
        if cur_sum == 0:
            pairs.append((x, y))
pairs

[(2, -2), (-2, 2)]