In [1]:
def square(*args):
    return [x*x for x in args]

In [3]:
result = square(1,2,3,4,5)
result

[1, 4, 9, 16, 25]

In [4]:
def triple(*args):
    return [x*3 for x in args]

In [5]:
res2 = triple(3,4,5,6)
res2

[9, 12, 15, 18]

In [6]:
def square(num):
    return num*num

In [10]:
num = [1,2,3,4,5]

map(square, num)
res3 = list(map(square, num))
res3

[1, 4, 9, 16, 25]

In [11]:
for x in map(square, num):
    print(x)

1
4
9
16
25

In [12]:
def is_adult(age):
    return age>=18

age = [15,13,21,16,30]
list(filter(is_adult, age))

[21, 30]

In [14]:
list(filter(lambda age: age>=18, age))

[21, 30]

In [15]:
multiplier = lambda x, y: x * y
multiplier(19,10)

190