In [1]:
il = [1,2,3,4]

In [2]:
mixed_list = [1, 1.3, 'string']

In [3]:
len(il)

4

In [4]:
len(mixed_list)

3

In [5]:
il[1]

2

In [6]:
print(il[0:3])

[1, 2, 3]

In [7]:
names1 = ['John', 'Bob']
names2 = ['Bill', 'Riki']
names3 = names1 + names2
print(names3)

['John', 'Bob', 'Bill', 'Riki']

In [8]:
names1[0] = 'Elias'
names1

['Elias', 'Bob']

In [9]:
names1.append('Josh')
names1

['Elias', 'Bob', 'Josh']

In [10]:
popped = names1.pop(1)
print(popped)
print(names1)

Bob
['Elias', 'Josh']

In [11]:
names1.append('Bob')
names1.append('Alice')
names1.sort()
names1

['Alice', 'Bob', 'Elias', 'Josh']

In [12]:
letter = ['ac', 'ab', 'aa']
letter.sort()
print(letter)

['aa', 'ab', 'ac']

In [22]:
letters = ['abc', 'a', 'ab']
letters.sort(key=len)
print(letters)

['a', 'ab', 'abc']

In [24]:
num = [1,2,56,66,213,5451,22]
num.sort()
print(num)

[1, 2, 22, 56, 66, 213, 5451]

In [25]:
num = [1,2,56,66,213,5451,22]
num.reverse()
num

[22, 5451, 213, 66, 56, 2, 1]

In [28]:
num.sort(reverse=True)
num

[5451, 213, 66, 56, 22, 2, 1]

In [29]:
num.insert(1, 1000)
num

[5451, 1000, 213, 66, 56, 22, 2, 1]

In [30]:
num.index(1000)

1

In [32]:
num.index(1)
num.append(2)

In [33]:
print(num.count(2))
n

2

In [34]:
copy_ls = num.copy()
print(copy_ls)

[5451, 1000, 213, 66, 56, 22, 2, 1, 2]